@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary: #ebebeb;
  --orange: #f46500;
  --white: #fff;
  --black: #000;
}
* {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.countdown-modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  inset: 0;
  background: url("Frame\ 55.png") !important;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

#back-link {
  display: inline-block;
  padding: 2rem 0 0 5rem;
  text-decoration: none;
  color: var(--orange);
  font-weight: 700;
  font-size: 1.5rem;
}

.countdown-container {
  width: 19rem;
  height: 12rem;
  margin-left: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;

  letter-spacing: 1rem;
}
*/

/* ALL MODALS */

 .modal {
  height: 26.5rem;
  width: 19rem;
  background-color: var(--primary);
  display: none;
  flex-direction: column;
  padding: 1.5rem;
}
.clock-container {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal h3 {
  text-align: center;
}
.modal h4 {
  font-size: 1rem;
}
.modal span {
  font-weight: 700;
}
.extend-container {
  display: flex;
  gap: 4rem;
}
.time-etnd {
  background-color: var(--white);
  padding: 0.2rem 3rem;
}
.modal button {
  background-color: var(--orange);
  font-family: Manrope;
  color: var(--white);
  font-weight: 700;
  font-size: 1rem;
  width: 7rem;
  padding: 0.15rem 0;
  border-radius: 10px;
  border: 2px solid var(--orange);
}
.user-Activity {
  width: 90%;
  background-color: var(--white);
  height: 5rem;
}
.user-Activity input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.05rem;
}

#extend {
  margin: 1rem 0 0 45%;
}
#submit {
  margin: 2rem 30% 0 30%;
}

.intrusive-modal {
  width: 20rem;
  height: 20rem;
  display: none;
  overflow-y: hidden;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: var(--primary);
  margin-left: 50%;
  margin-top: 10%;
  padding: 3rem 0.5rem;
}
.options {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.snooze-holder,
.cancel-holder {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
#snooze-icon-container svg,
#cancel-icon-container svg {
  width: 3rem;
  height: 3rem;
  border: 3px solid blue;
}
#snooze,
#x {
  position: absolute;
  top: 25%;
  right: 16%;
}

#x {
  left: 30%;
}
.user-msg-container {
  padding-inline: 20%;
  border: 2px solid green;
}
#user-message {
  color: var(--orange);
}

/* POP UP MODAL */

.pop-up-modal {
  width: 23rem;
  height: 22rem;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  background-color: var(--primary);
  top: 25%;
  right: 32%;
  padding: 2rem 0.5rem;
}

.emoji-container {
  height: 70%;
  width: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1rem;
  background: url("https://s3-alpha-sig.figma.com/img/7e26/b906/07ed56cbf5b3db550256deb256cb1832?Expires=1691971200&Signature=NBn5-Gaf~L8qbHcQrmxTW~iuzh9Kt7oG5ocQgu4H1y7pmAp7CiSKLY3o2A2W~ykoMhyo4I73IdxsBMZLZGrQzsblv4e6W-VlrTvpLp2wIYEJrfp64CDu4I4kIdfWbRj80VWCVk3lshLt18T3nfDGG2qOU-CItbw71gaXEkcG1vaKo2atpVtbKi3FMIYIgjYrSysZwDNz6zvq6GY9-r3JOwT7gl2gnsVEGcI84YbYWS0H8ECPTfAfKN99f6vcXzzlLVlW6kZF8lmPJAyg-Pe2rrXVnCJ1cpSvcaQFfzS~LyH4oyXxGSqw~juCH0iWwcv6mlYnpwH5PoJ-GgwIZKlFlQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}

.pop-up-modal h2 {
  font-size: 2.1rem;
  margin-top: 1.5rem;
  color: var(--orange);
}

.pop-up-modal h3 {
  font-size: 1.4rem;
}

.cancel-holder {
  width: 50%;
  height: 3rem;
  display: flex;
  justify-content: center;
  position: relative;
}
#reminder-cancel {
  width: 100%;
  height: 100%;
}
#reminder-x {
  position: absolute;
  top: 21%;
  left: 44%;
}
.success-modal {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  inset: 0;
  font-family: Manrope;
  background-color: rgba(0, 0, 0, 0.4);
}
.success-modal-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  margin: 5% auto;
  height: 70%;
  width: 45%;
  z-index: 100;
  border-radius: 0 1rem 0 1rem;
}

.left-container {
  height: 90%;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  background-color: #f46500;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  right: -40px;
  bottom: 23%;
}
.circle-2 {
  width: 4.5rem;
  height: 4.5rem;
  background-color: #f5f0f6;
  right: 12px;
  bottom: 13%;
}
.circle-3 {
  width: 3rem;
  height: 3rem;
  background-color: #f46500;
  right: 28%;
  bottom: 8%;
}

.img-container {
  height: 10rem;
  width: 10rem;
  z-index: 100;
  background: url("https://s3-alpha-sig.figma.com/img/316f/edf8/48ba0a8f18eb3b627dc3af5cf10d06f5?Expires=1691971200&Signature=dFqpPGTewNrm-BRIitou1qDUSy4VMpOjpRPhgjLx~jWIBVLdb7f4SKBKnW6N252~MyT7MZobEh0PJBJLrYHnyN64KmyIDMAh7V1JnaSXsmlIHAJW0d7efV3JY8hcDOrUC1TUS6nUnqS3YDy0yXw5ZC9abP0WISuh6OmWEhY1-z5bX~R7Kz7~DoXJp-fXO9ghPSlWtsDXMs9TpYVjPQlc6rl1hD9MVpUIyZoeSBlsTStNrWBoX0XEPaVcdlmvS-uiiViozaxIqmNV8gGM5-Ya4en5-tXqmp6JrgDPVAd8-7Gs9ueB6yTvvIgJD~Y3jUSJP4HyzbKDKLUAaD~vR-hqbA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
.text-and-button {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.text-and-button button {
  background-color: var(--orange);
  color: var(--white);
  padding: 0.5rem 0.1rem;
  width: 9rem;
  border-radius: 10px;
  margin-inline: auto;
  border: 1px solid var(--orange);
}

#pop-15 {
  display: none;
}
#timeout {
  display: none;
}
